- name: update apt cache
  command: apt-get update
  tags: update_apt_cache

- name: install tor
  apt: name={{ item }} state=installed
  with_items:
    - tor
  tags: install tor packages

- name: Create "/var/lib/tor/ssh" direcotiry
  file: path=/var/lib/ssh state=directory mode=000
  tags: create directory for tor hidden service

- name: upload tor systemd unit file
  copy: src=tor.service dest=/lib/systemd/system/tor.service
  tags: copy tor systemd unit file

- name: upload tor config file
  copy: src=torrc dest=/etc/tor/torrc
  tags: copy tor config file

- name: upload tor config file for relay
  copy: src=torrc-relay dest=/etc/tor/torrc
  when: relay == true
  tags: copy tor config file for relay

# systemctl daemon-reload

- name: daemon-reload
  command: systemctl daemon-reload
  tags: daemon_reload

- name: started tor service
  service:
    name: tor
    state: restarted

- name: PRINT HIDDEN SERVICE CONFIG FILE
  command: cat /var/lib/tor/ssh/hostname
  register: filename
  tags: PRINT HIDDEN SERVICE CONFIG FILE

- debug: 
    msg: "{{ filename.stdout }}"

