---
    - name: Remove old docker
      shell: apt-get remove -y docker docker-engine docker.io
      tags: remove_old_docker

    - name: Install needed software
      shell: apt-get install -y apt-transport-https ca-certificates curl gnupg2 software-properties-common
      tags: Install_needed_software

    - name: Download key
      shell: curl -fsSL https://download.docker.com/linux/debian/gpg | apt-key add -
      tags: Add_key

    - name: Add key
      shell: apt-key fingerprint 0EBFCD88
      tags: Add_key

    - name: Add repository
      shell: add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/debian $(lsb_release -cs) stable"
      tags: Add_repository

    - name: Add repository
      shell: apt-get update
      tags: Add_repository

    - name: Install docker
      shell: apt-get install -y docker-ce
      tags: Install_docker

    - name: Run hello world
      shell: apt-get install docker-ce
      tags: Install_docker
