- name: install common packages
  apt: name={{ item }} state=installed
  with_items:
    - python-pip
  tags: install_packages

- name: Upgrade pip
  command: pip install --upgrade pip

- name: Docker-PY
  pip:
    name: "{{ item }}"
  with_items:
  - setuptools
#  - six
  - docker-py
  tags: install_packages

#- name: "Create a docker OpenVPN volume"
#  docker_volume:
#    name: openvpn
#  tags: create_volume

- name: create OpenVPN volume
  command: docker volume create --name openvpn
#  when: openvpn_exists|failed

- name: Install OpenVPN docker container
  docker:
    name: openvpn
    image: kylemanna/openvpn:latest
    state: started
    pull: always
    command: -v openvpn:/etc/openvpn --rm kylemanna/openvpn ovpn_genconfig -u udp://vpn.litiushkin.ru
    volumes:
    - /openvpn
    ports:
    - "1194:1194/udp"
  tags: pull_image

- name: Install OpenVPN stop1
  docker:
    name: openvpn
    state: stopped
    image: kylemanna/openvpn:latest
  tags: openvpn_stop

- name: Install OpenVPN step2
  docker:
    name: openvpn
    state: reload
    image: kylemanna/openvpn:latest
    command: -v openvpn/etc/openvpn --rm -it kylemanna/openvpn ovpn_initpki
  tags: image_openvpn_initpki

- name: Install OpenVPN stop2
  docker:
    name: openvpn 
    state: stopped
    image: kylemanna/openvpn:latest
  tags: openvpn_stop

- name: Install OpenVPN step3
  docker:
    name: openvpn
    state: reload
    image: kylemanna/openvpn:latest
    command: -v openvpn:/etc/openvpn -d -p 1194:1194/udp --cap-add=NET_ADMIN kylemanna/openvpn
  tags: openvpn_image_start
    
